# Auto-loaded by direnv when entering ~/Desktop/Thesis-Code.
# Run once: direnv allow

export GIT_PAGER=cat
export PAGER=cat

set +u

source /opt/ros/jazzy/setup.bash

if [ -f ros2_ws/install/setup.bash ]; then
  source ros2_ws/install/setup.bash
fi

if [ -f thesis_env/bin/activate ]; then
  source thesis_env/bin/activate
fi

export ROS_DOMAIN_ID="${ROS_DOMAIN_ID:-42}"

set -u
